/* Desenvolvimento da paleta de cores */
.main-container {
    width: 500px;
    height: 500px;
}
.color {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 20px;
}
.black {
    background-color: black;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
/* Tabela de cores*/
.tabela-cores {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}
.pixel {
    border: 1px solid black;
    display: inline-block;
    width: 40px; 
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
}