/* Desenvolvimento da paleta de cores */
.header {
    display: flex;
    justify-content: center;
}
.clear {
    width: 60px;
    height: 30px;
    display: flex;
    margin-left: 27%;
    margin-top: 5%;
    font-size: 16px;
}
.main-container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-left: 32%;
}
/* .container {
    display: flex;
    justify-content: center;
}
.color-palette {
    display: flex;
    justify-content: center;

} */
.color {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 20px;
}
.black {
    background-color: black;
}
.cor1 {
    background-color: red;
}
.cor2 {
    background-color: blue;
}
.cor3 {
    background-color: green;
}
/* Tabela de cores*/
.tabela-cores {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}
.pixel {
    border: 1px solid black;
    display: inline-block;
    width: 40px; 
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
}